In [10]:
import sys
import os
sys.path.append('C:/Users/teeyob/Telco_Investment_Analysis/src')
sys.path.append(os.path.abspath('../scripts'))

In [12]:
from database import get_connection
from data_preparation import load_data, clean_data

In [3]:
import pandas as pd

In [14]:
xdr_data = load_data('xdr_data')
xdr_data = clean_data(xdr_data)

Connection successful

In [16]:
from user_overview_analysis import identify_top_handsets, identify_top_manufacturers, identify_top_handsets_per_manufacturer

In [18]:
handsets_data = load_data('handsets_table')  # Loading data from the table 'handsets_table'
handsets_data = clean_data(handsets_data) 
top_handsets = identify_top_handsets(handsets_data)
top_manufacturers = identify_top_manufacturers(handsets_data)
top_handsets_per_manufacturer = identify_top_handsets_per_manufacturer(handsets_data, top_manufacturers)

Connection successful

c:\Users\teeyob\Telco_Investment_Analysis\scripts\data_preparation.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, connection)

DatabaseError: Execution failed on sql 'SELECT * FROM handsets_table': relation "handsets_table" does not exist
LINE 1: SELECT * FROM handsets_table
                      ^